*{
    font-family: "Poppins", sans-serif;
}

.btn{
    background-color: var(--purple);
    transition: var(--transition);
    color: #fff;
    text-transform: capitalize;
    font-size: var(--body);
    border-radius: var(--radius);
}

.btn:hover{
    color: #fff !important;
    background-color: var(--light-blue);
}

.btn-outline{
    border: 1px solid var(--purple);
    padding: .5rem;
    border-radius: var(--radius);
    background-color: white;
    transition: all 150ms ease;
}

.btn-outline:hover{
    background-color: var(--purple);
    color: white;
}

.btn-full{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--purple);
}

.primary-max{
    width: 95vw;
    max-width: var(--max-width);
    margin: auto;
}

.small-max{
    margin: auto;
    width: 95vw;
    max-width: 400px;
}